# This ignore pattern used for user-configuration repo
# whose working directory is $HOME
#
# Ignore all files cause this repo uses whitelist method
/**/**

# unignore files starting with .(dot)
#!/.*
!/.gitignore
!/.bashrc
!/.bash_profile
!/.config/
!/.config/**/**

# But ignore these
#/.cache/
#/.conan/
#/.cert/

